---
###
# note: will result in an all-in-one-file stylesheet e.g. style.css
#   in _config.yml add:
#     sass:
#       sass_dir: css
#       style:    expanded
---

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import 'settings';
@import 'bootstrap/bootstrap.scss';

/*
 * css styles go here
 */

body {
  font-family: $font-family;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#header {
  padding: 4px;
  font-family: 'Gravitas One', cursive;
  background-color: red;
}

.ticker { 
  background-color: white;
  border-bottom: 2px solid black;
  width: 100%; 

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;

      padding: 5px;
      padding-right: 80px;
      }
  }
}

.big {
  font-size:   200%;
  font-weight: bold;
}

.small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}

#content {
  height: 100vh;
}

#about {
  width: 100%;
  background-color: white;
  border-top: 2px solid black;

}

#subtitle {
  font-family: 'Gravitas One', cursive;
  font-size:   200%;
  font-weight: bold;
  background-color: red;
  padding: 4px;
}
#footer {
  width: 100%;
  text-align: center;
}